version: '3.8'

services:

  app:
    build:
      dockerfile: ./docker/app/Dockerfile
    restart: always

  nginx:
    build:
      dockerfile: ./docker/nginx/Dockerfile
    restart: always
    ports:
      - "9000:80"
